.footer {
  @include wrapper();
  &__content {
    margin-top: 3.15rem;
    margin-bottom: 3.15rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 53.75em) {
      align-items: flex-start;
      flex-direction: column;
    }

    .footer__contact {
      font-size: clamp(2.5rem, 4vw, 4rem);
      max-width: min(10ch, 100%);

      @include avoidScreenBlur();
      perspective: 150px;

      a {
        transition: transform 0.5s;
        display: inline-block;
      }

      h4 {
        margin: 0;
      }
    }
  }

  .social-location-wrapper {
    @media screen and (max-width: 53.75em) {
      margin-top: 2rem;

      .locations {
        li {
          width: min-content;
        }
      }
    }

    ul {
      li {
        display: inline-block;

        &:not(:last-of-type) {
          margin-right: 2rem;
        }
      }
    }

    .social-icons {
      ul {
        width: max-content;
        margin-left: auto;
        font-size: 1.4rem;
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        @media screen and (max-width: 53.75em) {
          width: max-content;
          margin-left: unset;
        }

        li {
          vertical-align: middle;
          line-height: 0;
          &:hover {
            opacity: 0.8;
          }
        }

        .nugs__button {
          background: transparent;
          padding: 0;
          border: 0;
          font-size: inherit;
          color: inherit;

          svg {
            margin-right: 0.5rem;
            margin-top: -0.5rem;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.footer__work {
  @media print, screen and (max-width: 64em) and (min-width: 53.75em) {
    @include wrapper();
  }

  --height: 178px;
  position: relative;
  //   width: 100%;
  height: var(--height);
  overflow: hidden;

  .footer__work__content {
    width: 100%;
    position: relative;
    height: var(--height);
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    bottom: -110px;

    &:hover {
      @media screen and (min-width: 53.75em) {
        bottom: -95px;
      }
      img {
        filter: blur(0);
      }
    }

    @media screen and (max-width: 53.75em) {
      bottom: 0;
      border-radius: 0;
    }
  }

  img {
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(1.15);
    filter: blur(10px);
  }

  &__text {
    position: absolute;
    top: 2.25rem;
    transform: translate(-50%, -50%);

    &--left {
      left: 3.5rem;
      transform: translate(50%, -50%);
      @media screen and (max-width: 53.75em) {
        display: none;
      }
    }

    &--right {
      right: 3.5rem;

      @media screen and (max-width: 53.75em) {
        right: unset;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @include linkWithChevron();
  }
}
