.header {
  padding-top: clamp(1.5625rem, 6.25vw, 6.25rem);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include wrapper();
  }

  .logo {
    &::before {
      --size: clamp(1.25rem, 1.875vw, 1.875rem);
      content: "";
      display: block;
      width: var(--size);
      height: var(--size);
      background-color: var(--color-primary);
    }
    &::after {
      width: 174px;
      content: "";
      display: block;
      width: 0;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/RED-Logo-2019.svg");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 174px 30px;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  .nav-link {
    @include linkWithChevron();

    @include avoidScreenBlur();
  }
}

@keyframes blackblur {
  from {
    text-shadow: 0 0 72px black;
    color: transparent;
    filter: blur(0);
  }
  to {
    text-shadow: 0;
    color: black;
    filter: blur(70px);
  }
}
