:root {
  --color-white: #fefefe;
  --color-cod-gray: #111111;
  --color-gray: #858585;
  --color-alizarin-crimson: #e31e3c;

  --color-primary: var(--color-alizarin-crimson);
  --color-bg: var(--color-cod-gray);
  --color-text: var(--color-white);
}

body [data-theme="dark"] {
  --color-text: var(--color-cod-gray);
  --color-bg: var(--color-white);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  // font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper {
  margin-left: 6.563rem;
  margin-right: 6.563rem;

  @media print, screen and (max-width: 61.125em) {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }

  @media print, screen and (max-width: 30em) {
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
  }
}

@mixin linkWithChevron {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  text-shadow: 0 !important;
  color: inherit;

  svg {
    vertical-align: middle;
    font-size: clamp(1.2rem, 1.4vw, 1.4rem);
    margin-left: 0.5rem;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(-5%);
  }

  &:hover {
    svg {
      transform: translateY(-5%) translateX(25%);
    }
  }
}

@mixin avoidScreenBlur {
  position: relative;
  z-index: 10;
}

.container {
  @include wrapper();

  @media print, screen and (max-width: 64em) {
    margin-left: 0;
    margin-right: 0;
  }
}

.text-muted {
  color: var(--color-gray);
}
.text-primary {
  color: var(--color-primary);
}

.separator {
  // display: block;
  @include wrapper();

  hr {
    display: inline-block;
    width: 100%;
    // --color: var(--color-gray);
    --color: #f0f0f01a;
    border: 0;
    border-top: 1px solid var(--color);
  }
}

@import "components/header";
@import "components/footer";

@import "home";

.fadeIn {
  opacity: 0;
}

.screen-blur {
  position: fixed;
  z-index: 9;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &[data-is-showing="true"] {
    backdrop-filter: blur(10px);
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
}
