.home {
  .hero {
    padding-top: min(15vh, 126px);

    @media print, screen and (max-width: 30em) {
      padding-top: min(55vh);
    }

    &-top {
      margin-bottom: 5vh;
      @include wrapper();
    }

    &__title {
      font-family: serif;
      font-size: clamp(2.4rem, 6.25vw, 6.25rem);
      max-width: min(15ch, 100%);
    }

    &__image {
      position: relative;
      width: 100%;
      //   height: min(95vh, 1050px);
      aspect-ratio: 16 / 9;

      border-radius: 0.25em;
      background-color: rebeccapurple;
      overflow: hidden;

      //   @media print, screen and (max-width: 61.125em) {
      //     height: min(50vh, 500px);
      //   }

      .hero__image__item {
        // visibility: hidden;
        opacity: 0;

        &.active {
          //   visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .ideas {
    @include wrapper();
    margin-top: 6.25rem;
    margin-bottom: 3.15rem;
    font-size: clamp(1.1rem, 2.075vw, 2.075rem);

    .our-deal {
      font-size: clamp(2rem, 4vw, 4rem);
    }
  }

  .clients {
    @include wrapper();
    margin-top: 3.15rem;
    margin-bottom: 3.15rem;
    font-size: clamp(1.05rem, 1.5vw, 1.5rem);

    .client-list-wrapper {
      display: flex;
      flex-wrap: wrap;

      & > * {
        flex: 1;
      }

      @media print, screen and (max-width: 61.125em) {
        & > *:not(ul) {
          flex-basis: 100%;
          margin-bottom: 2rem;
        }
      }

      @media print, screen and (max-width: 30em) {
        flex-direction: column;
      }

      h3 {
        margin: 0;
        font-size: clamp(1.05rem, 1.25vw, 1.25rem);
        font-weight: 400;
      }

      li {
        margin-bottom: 1rem;
      }
    }
  }
}
